$primary: #007bff;
$strength-colors: (
  darkred,
  orangered,
  orange,
  yellowgreen,
  green
);
$strength-gap: 6px;

.strength-meter {
  position: relative;
  width: 80%;
  height: 6px;
  background: #ddd;
  margin: 18px 0;
  border-radius: 2px;
  overflow: hidden;

  &:before,
  &:after {
    content: "";
    height: inherit;
    background: transparent;
    display: block;
    border-color: #fff;
    border-style: solid;
    border-width: 0 $strength-gap 0;
    position: absolute;
    width: calc(20% + #{$strength-gap});
    z-index: 2;
  }

  &:before {
    left: calc(20% - #{($strength-gap / 2)});
  }

  &:after {
    right: calc(20% - #{($strength-gap / 2)});
  }
}

.strength-meter-fill {
  background: transparent;
  border-radius: 6px;
  height: inherit;
  position: absolute;
  width: 0;
  // border-radius: inherit;
  transition: width 0.25s ease-in-out, background 0.15s;

  @for $i from 1 through 5 {
    &[data-strength="#{$i - 1}"] {
      width: (20% * $i);
      background: nth($strength-colors, $i);
    }
  }
}
